@mixin btn {
  font-size: rem(22px);
  height: $input-height;
  line-height: $input-height - 2;
  white-space: nowrap;
  padding: 0 20px;
  text-decoration: none !important;
  display: inline-block;
  font-weight: bold;
  //-webkit-font-smoothing: antialiased;
  text-align: center;
  text-shadow: none;
  border: 0;
  position: relative;
  border-radius: 0;
  min-width: 160px;
  @include st-transition();

  &.btn-block,
  &.btn-fullwidth {
    width: 100% !important;
  }
}

.btn {
  @include btn;
}
